div.container-add-form {
    border: 5px solid red;

}

div.text-block {
    text-align: center;
}

div.hello-block {
    text-align: center;
}

form.nice-form {
    text-align: center;
}


li {
    list-style-type: none;
}





